{% load home_tags wafa_tags wagtailcore_tags i18n static wagtailimages_tags %}
<div class="content-wrap">

    <div class="container clearfix">
        <div class="heading-block center">
            <h3>{% trans "Board Members" %}</h3>
        </div>


        <div id="oc-team" class="owl-carousel team-carousel bottommargin carousel-widget" data-margin="30"
             data-pagi="true" data-autoplay="true" data-loop="true" data-speed="20000" data-items-xs="1"
             data-items-sm="1" data-items-lg="2">
            {% for member in members %}
                {% dynamic_trans member.value 'position' as position %}
                {% dynamic_trans member.value 'activity' as activity %}
                {% image member.value.image original as picture %}
                <div class="oc-item">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="{{ picture.url }}" alt="{{ member.value.member_name }}">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>{{ member.value.member_name }}</h4><span>{{ position }}</span></div>
                            <div class="team-content">
                                <p>{{ member.value.deputy_name }}.</p>
                            </div>
                            <p>
                                <i class="icon-envelope2"></i>
                                <strong>{{ member.value.email }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
</div>