{% extends "base.html" %}
{% load home_tags wafa_tags wagtailcore_tags i18n static wagtailimages_tags image %}
{% block body_class %}stretched{% endblock %}
{% block extra_css %}
{% endblock %}

{% block content %}
    {% header self.slug %}
    <div class="clear"></div>
    {% page_title self.title "West African Fertilizer Professionals are united and commited!" %}

    <!-- Content ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="bottommargin-lg"></div>

            <div class="container clearfix">
                <div class="heading-block center">
                    <h3>{% trans "About WAFA" %}</h3>
                </div>
                <div class="row">
                    <!-- ===========Entry Image============== -->
                    {% if self.page_image %}
                        <div class="entry-image">
                            {% image self.page_image fill-800x240 as page_image %}
                            {% image self.page_image original as cover %}
                            <a href="{{ cover.url }}" data-lightbox="image">
                                <img class="image_fade" alt="{{ self.page_image.title }}" src="{{ page_image.url }}">
                            </a>
                        </div><!-- .entry-image end -->
                    {% endif %}
                    {% dynamic_trans self 'company_desc' as company_desc %}
                    <p>{{ company_desc|richtext }}</p>
                </div>
            </div>
            <div class="line bottommargin-lg"></div>
            <div class="section">
                <div class="container clearfix">
                    <div class="col_half nobottommargin">
                        <div class="heading-block fancy-title title-bottom-border">
                            <h2>{% trans "Our" %} <span>{% trans "Vision" %}</span>
                            </h2>
                        </div>

                        <p>
                            {% dynamic_trans self 'vision' as vision %}
                            {{ vision|richtext }}
                        </p>
                    </div>

                    <div class="col_half nobottommargin col_last">
                        <div class="heading-block fancy-title title-bottom-border">
                            <h2>{% trans "Our" %} <span>{% trans "Mission" %}</span>
                            </h2>
                        </div>

                        <p>
                            {% dynamic_trans self 'mission' as mission %}
                            {{ mission|richtext }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="bottommargin-lg ">
                {% get_images_advertising height=720 campaign='about' cls="aligncenter notopmargin nobottommargin" %}
            </div>

            <div class="section parallax nobottommargin"
                 style="background-size: 100%; background-image: url('{% static "img/analyse-min.jpeg" %}'); padding: 100px 0;"
                 data-stellar-background-ratio="0.3">
                <div class="heading-block center nobottomborder nobottommargin">
                    <h2 style="color: #ffffff">"{% trans "Quality , A Priority" %}"</h2>
                </div>
            </div>
            <div class="section">
                <div class="container clearfix">

                    <div class="heading-block center bottommargin-lg">
                        <h2> {% trans "Our " %} <span>{% trans "Objectivies" %}</span></h2>
                    </div>
                    <div class="rich-text centered">
                        <p>
                            {% trans "Many objectivies have already been considered and prioritized. We have already begun activity on three of them due to the commitment of a working group elected from among the founder members." %}
                            <br>
                            {% trans "One of the key objectives of WAFA is the quality of fertilizers." %}
                        </p>
                    </div>
                    {% if self.objectives %}
                        {% get_objectif_at self.objectives 0 as first %}
                        {% get_objectif_at self.objectives 1 as secound %}
                        {% get_objectif_at self.objectives 2 as third %}
                        <div data-animate="fadeInLeft" class="col_one_third nobottommargin">
                            <div class="feature-box fbox-center fbox-bg fbox-outline fbox-dark fbox-effect">
                                <div class="fbox-icon">
                                    <a href="javascript:void(0)"><i class="i-alt">1</i></a>
                                </div>
                                {% dynamic_trans first.value 'title' as first_title %}
                                {% dynamic_trans first.value 'description' as first_description %}
                                {% format_quality_text first_description as first_description %}
                                <h3>
                                    {{ first_title }}
                                    <span class="subtitle"> {{ first_description |richtext }}</span>
                                </h3>
                            </div>
                        </div>
                        <div data-animate="fadeInUp" class="col_one_third nobottommargin">
                            <div class="feature-box fbox-center fbox-bg fbox-outline fbox-dark fbox-effect">
                                <div class="fbox-icon">
                                    <a href="javascript:void(0)"><i class="i-alt">2</i></a>
                                </div>
                                {% dynamic_trans secound.value 'title' as secound_title %}
                                {% dynamic_trans secound.value 'description' as secound_description %}
                                {% format_quality_text secound_description as secound_description %}
                                <h3>
                                    {{ secound_title }}
                                    <span class="subtitle">{{ secound_description|richtext }} </span>
                                </h3>
                            </div>
                        </div>
                        <div data-animate="fadeInRight" class="col_one_third nobottommargin col_last">
                            <div class="feature-box fbox-center fbox-bg fbox-outline fbox-dark fbox-effect">
                                <div class="fbox-icon">
                                    <a href="javascript:void(0)"><i class="i-alt">3</i></a>
                                </div>
                                {% dynamic_trans third.value 'title' as third_title %}
                                {% dynamic_trans third.value 'description' as third_description %}
                                {% format_quality_text third_description as third_description %}
                                <h3>
                                    {{ third_title }}
                                    <span class="subtitle">{{ third_description |richtext }} </span>
                                </h3>
                            </div>
                        </div>
                    {% endif %}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="section nomargin">
                <div class="container clearfix">
                    <div class="heading-block center bottommargin-lg">
                        <h2> {% trans "Our " %} <span>{% trans "Partners" %}</span></h2>
                    </div>
                    {% partners_list self.partners %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>

    {% footer %}

{% endblock %}

{% block extra_js %}
{% endblock %}
