{% extends "base.html" %}
{% load home_tags wafa_tags wagtailcore_tags i18n static wagtailimages_tags image %}
{% block body_class %}stretched{% endblock %}
{% block extra_css %}
    <!-- Bootstrap Data Table Plugin -->
    <link rel="stylesheet" href="{% static 'css/components/bs-datatable.css' %}" type="text/css"/>
    <style rel="stylesheet" type="text/css">
        .postcontent, .sidebar {
            margin-right: 0;
        }
    </style>
{% endblock %}

{% block content %}
    {% header self.slug %}
    <div class="clear"></div>
    {% page_title self.title "West African Fertilizer Professionals are united and commited!" %}
    <section id="content">

        <div class="content-wrap">


            <div class="container clearfix">
                <div class="heading-block center">
                    <h3>{% trans "Board Members" %}</h3>
                </div>
                {% board_members self.officers %}
            </div>
            <div class="line bottommargin-lg"></div>
            <div class="section">
                <div class="container clearfix">
                    <div class="heading-block center">
                        <h3>{% trans "Member countries" %}</h3>
                    </div>
                    <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">
                        <div class="portfolio-item pf-media pf-icons clearfix">

                            <a href="javascript:void(0)">
                                <img src="{% static 'img/map.jpg' %}" alt="{% trans "Member countries" %}">
                            </a>
                            <div class="portfolio-overlay">
                                <a href="{% static 'img/map.jpg' %}" class="left-icon" data-lightbox="image"><i
                                        class="icon-line-plus"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="bottommargin-lg ">
                 {% get_images_advertising height=720 campaign='member' cls="aligncenter notopmargin nobottommargin" %}
            </div>
            <div class="container clearfix">

                <div class="heading-block center">
                    <h3>{% trans "Wafa Membership" %}</h3>
                </div>

                <div class="promo promo-dark promo-flat bottommargin">
                    <h3>{% trans "Membership application form" %}</h3>
                    <span>{% trans "Click to download the membership application Form" %}</span>
                    <a href="{{ self.file.url }}" class="button button-dark button-xlarge button-rounded">
                        {% trans "Download" %} <i class="icon-download"></i>
                    </a>
                </div>

                <div class="nobottommargin clearfix">
                    <h4>{% trans "Membership" %}</h4>
                    {% dynamic_trans self 'membership' as membership %}

                    <p> {{ membership|richtext }}</p>
                    <div class="divider"><i class="icon-circle"></i></div>
                    {% if self.members %}
                        <h4> {% trans "Members List" %}</h4>
                        <table id="members-table" class="table table-striped table-bordered" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Country" %}</th>
                                <th>{% trans "Activity" %}</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Country" %}</th>
                                <th>{% trans "Activity" %}</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for member in self.members %}
                                <tr>
                                    <td>{{ member.value.member_name }}</td>
                                    <td>{{ member.value.country }}</td>
                                    {% dynamic_trans member.value 'activity' as activity %}
                                    <td>{{ activity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

            </div>

        </div>

    </section><!-- #content end -->
    {% footer %}
{% endblock %}

{% block extra_js %}
    <!-- Bootstrap Data Table Plugin -->
    <script type="text/javascript" src="{% static 'js/components/bs-datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/member.script.js' %}"></script>

{% endblock %}