 #chart-container {
            position: relative;
            display: inline-block;
            top: 10px;
            left: 10px;
            height: 420px;
            width: calc(100% - 24px);
            border: 2px dashed #aaa;
            border-radius: 5px;
            overflow: auto;
            text-align: center;
        }

        .orgchart .node .title, .orgchart tr.lines .downLine {
            background-color: rgb(89, 206, 183);
        }

        .orgchart tr.lines td.leftLine, .orgchart tr.lines td.topLine, .orgchart .node .content {
            border-color: rgb(89, 206, 183);
        }

        #chart-container::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #chart-container::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5;
        }

        #chart-container::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: rgb(89, 206, 183);
        }