{% load i18n wagtailimages_tags static puput_tags %}

<section id="slider" class="revslider-wrap slider-parallax clearfix">
    <div class="slider-parallax-inner">
        <div class="tp-banner-container rev_slider_wrapper">
            <div class="tp-banner">
                <ul>    <!-- SLIDE  -->
                    {% for entry in market_news_entries %}
                        <li class="dark"
                            data-transition="slideup"
                            data-slotamount="1"
                            data-masterspeed="600"
                            data-thumb="{{ entry.header_image.url }}"
                            data-fstransition="fade"
                            data-fsmasterspeed="600"
                            data-fsslotamount="7"
                            data-saveperformance="off"
                            data-title="{{ entry.title }}">
                            <!-- MAIN IMAGE -->
                            {% if entry.header_image %}
                                {% image entry.header_image original as header_image %}
                                <img src="{{ header_image.url }}" alt="Wafa Fertilizer"
                                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                <!-- LAYERS -->
                            {% else %}
                                <img src="{% static 'img/slider/slide2.jpg' %}" alt="Wafa Fertilizer"
                                     data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            {% endif %}
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme layertransblack"
                                 data-frames='[{"delay": 0, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},{"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
                                 data-x="center"
                                 data-y="100"
                                 data-hoffset="30"
                                 data-voffset="-30"
                                 data-width="['auto']"
                                 data-height="['auto']">
                                <h4>{{ entry.title }}</h4>
                                <a href="{% entry_url entry market_news %}" class="button button-small button-dark button-rounded pull-right">
                                    {% trans 'Learn more' %}
                                </a>
                            </div>
                        </li>
                    {% empty %}
                        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                            data-thumb="{% static 'img/slider/slide2.jpg' %}" data-delay="10000"
                            data-saveperformance="off"
                            data-title="">
                            <!-- MAIN IMAGE -->
                            <img src="{% static 'img/slider/slide2.jpg' %}" alt="Wafa Fertilizer"
                                 data-bgposition="left top"
                                 data-kenburns="on" data-duration="1000" data-ease="Linear.easeNone"
                                 data-scalestart="130"
                                 data-scaleend="100" data-bgpositionend="right bottom">
                            <!-- LAYERS -->
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
        <a href="#" data-scrollto="#intro" data-offset="100" class="dark one-page-arrow">
            <i class="icon-angle-down infinite animated fadeInDown"></i>
        </a>
    </div>
</section>