{% load static %}
<section id="slider"
         class="slider-parallax swiper_wrapper full-screen with-header force-full-screen clearfix slider-parallax-visible">
    <div class="slider-parallax-inner">

        <div class="swiper-containers swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url({% static 'img/slider/slide1.jpg' %});">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="fadeInUp wow"><img src="{% static 'img/logo.svg' %}" alt=""></h2>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url({% static 'img/slider/slide2.jpg' %});">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="fadeInUp wow"><img src="{% static 'img/logo.svg' %}" alt=""></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div id="slide-number">
                <div id="slide-number-current"></div>
                <span>/</span>
                <div id="slide-number-total"></div>
            </div>
        </div>

        <a href="#" data-scrollto="#intro" data-offset="100" class="dark one-page-arrow"><i
                class="icon-angle-down infinite animated fadeInDown"></i></a>

    </div>
</section>