{% load static %}

<section id="slider" class="revslider-wrap slider-parallax clearfix">
    <div class="slider-parallax-inner">
        <div class="tp-banner-container rev_slider_wrapper">
            <div class="tp-banner">
                <ul>    <!-- SLIDE  -->
                    <li class="dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="{% static 'img/slider/npk-min.jpg' %}" data-fstransition="fade"
                        data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/slider/npk-min.jpg' %}" alt="Wafa Fertilizer"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme rs-parallaxlevel-8"
                             data-x="200"
                             data-y="107"
                             data-customin="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutQuad;"
                             data-speed="700"
                             data-start="2600"
                             data-easing="easeOutCubic"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">
                            <img class="logo" src="{% static 'img/logo.svg' %}" alt="Logo Wafa Fertilizer">
                        </div>

                    </li>
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="{% static 'img/slider/slide2.jpg' %}" data-delay="10000" data-saveperformance="off"
                        data-title="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/slider/slide2.jpg' %}"  alt="Wafa Fertilizer" data-bgposition="left top"
                             data-kenburns="on" data-duration="1000" data-ease="Linear.easeNone" data-scalestart="130"
                             data-scaleend="100" data-bgpositionend="right bottom">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="40"
                             data-y="150"
                             data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap; color: #222;">
                            <img class="logo" src=" {% static 'img/logo.svg' %}" alt="Logo WAFA">
                        </div>

                    </li>
                    <li class="dark" data-transition="slideup" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="{% static 'img/slider/champ-min.png' %}" data-fstransition="fade"
                        data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'img/slider/champ-min.png' %}" alt="Wafa Fertilizer"
                             data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme rs-parallaxlevel-8"
                             data-x="200"
                             data-y="107"
                             data-customin="x:0;y:-250;z:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;s:700;e:Power4.easeOutQuad;"
                             data-speed="700"
                             data-start="2600"
                             data-easing="easeOutCubic"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">
                            <img class="logo" src="{% static 'img/logo.svg' %}" alt="Logo Wafa Fertilizer">
                        </div>

                    </li>
                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
        <a href="#" data-scrollto="#intro" data-offset="100" class="dark one-page-arrow">
            <i class="icon-angle-down infinite animated fadeInDown"></i>
        </a>
    </div>
</section>