{% load static i18n wagtailcore_tags wagtailroutablepage_tags wagtailuserbar  event_tags wafa_tags image %}
{% wagtailuserbar %}
<!DOCTYPE HTML>
<html>
<head>
    <title>WAFA FERTILIZER |
        {% block title %}{{ events_page.title }}{% if events_page.description %} | {{ events_page.description }}
        {% endif %}{% endblock title %}</title>

    <meta charset="utf-8"/>

    <meta name="author" content="MADICORP"/>
    <meta name="ROBOTS" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title" content="


            {% block meta_title %}{% if events_page.seo_title %}{{ events_page.seo_title }}{% else %}{{ events_page.title }}{% endif %}{% endblock meta_title %}"/>
    <meta name="description"
          content="{% block meta_description %}{{ events_page.search_description }}{% endblock meta_description %}"/>
    <meta name="revisit-after" content="3 month">
    <meta name="keywords"
          content="{% trans "WAFA, Fertilizer, West African, ECOWAS, CEDEAO, Africa, West, Fertilizers, Association, agriculture, food,  private sector, environment, sustainability, quality, agricultural research, subsidies, Wafbim" %}"/>
    <!-- Fertilizer,West African, Agriculture -->
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/wafa.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="wrapper" class="clearfix">
    {% header self.slug %}
    <div class="clear"></div>
    {% trans self.title as title %}
    {% page_title title "West African Fertilizer Professionals are united and commited!" %}
    <section id="content" class="container">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="sidebar nobottommargin clearfix">
                    <div class="sidebar-widgets-wrap">

                        <div class="widget clearfix">

                            <h4>{% trans "Upcoming Events" %}</h4>
                            <div id="post-list-footer">
                                {% upcoming_events events_page.num_last_events %}
                            </div>
                            <div class="fancy-title title-border topmargin">
                                <h4>{% trans "Gallery" %}</h4>
                            </div>

                            {% gallery_widget 8 %}
                        </div>
                        <div class="widget clearfix">
                            {% get_images_advertising height=720 campaign='event' cls="aligncenter" %}
                        </div>
                    </div>

                </div>
                <div class="postcontent nobottommargin col_last">
                    {% block content %}{% endblock content %}
                    {% block extra_content %}{% endblock extra_content %}
                </div>
            </div>
        </div>
    </section>
    {% footer %}
</div>
<!-- Social Media scripts
============================================= -->
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>

<script src="{% static 'advertising/js/events.js' %}"></script>
{# Global javascript #}
<script type="text/javascript" src="{% static 'js/wafa.js' %}"></script>
{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-97702310-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>