{% load static i18n wagtailcore_tags wagtailroutablepage_tags wagtailuserbar compress event_tags wafa_tags %}
{% wagtailuserbar %}
<!DOCTYPE HTML>
<html>
<head>
    <title>WAFA FERTILIZER |
        {% block title %}{{ events_page.title }}{% if events_page.description %} | {{ events_page.description }}
        {% endif %}{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title" content="





            {% block meta_title %}{% if events_page.seo_title %}{{ events_page.seo_title }}{% else %}{{ events_page.title }}{% endif %}{% endblock meta_title %}"/>
    <meta name="description"
          content="{% block meta_description %}{{ events_page.search_description }}{% endblock meta_description %}"/>
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic'
          rel='stylesheet' type='text/css'>
    {% compress css %}
        <link href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
              rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css"
              href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wafa.css' %}">
    {% endcompress %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="wrapper" class="clearfix">
    {% header self.slug %}
    <div class="clear"></div>
    {% trans self.title as title %}
    {% page_title title "West African Fertilizer Professionals are united and commited!" %}
    <section id="content" class="container">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="sidebar nobottommargin clearfix">
                    <div class="sidebar-widgets-wrap">

                        <div class="widget clearfix">

                            <h4>{% trans "Upcoming Events" %}</h4>
                            <div id="post-list-footer">
                                {% upcoming_events events_page.num_last_events %}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="postcontent nobottommargin col_last">
                    {% block content %}{% endblock content %}
                    {% block extra_content %}{% endblock extra_content %}
                </div>
            </div>
        </div>
    </section>
    {% footer %}
</div>
{% compress js %}
    <!-- External JavaScripts
============================================= -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/wafa.js' %}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
{% endcompress js %}
</body>
</html>