{% load static %}
<section id="slider"
         class="slider-parallax swiper_wrapper full-screen with-header force-full-screen clearfix slider-parallax-visible">
    <div class="slider-parallax-inner">

        <div class="swiper-containers swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url({% static 'img/slider/slide1.jpg' %});">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="fadeInUp wow">WAFA Fertilizer</h2>
                            <p class="fadeInUp wow">Les Professionels de l'engrais en Afrique de l'Ouest s'unissent et
                                s'engagent !</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark" style="background-image: url({% static 'img/slider/slide1.jpg' %});">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 class="fadeInUp wow">WAFA Fertilizer</h2>
                            <p class="fadeInUp wow">West African Fertilizer Professionals are united and commited!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div id="slide-number">
                <div id="slide-number-current"></div>
                <span>/</span>
                <div id="slide-number-total"></div>
            </div>
        </div>
    </div>
</section>