{% load home_tags wafa_tags wagtailcore_tags i18n static wagtailimages_tags %}

<!-- Footer ============================================= -->
<footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        {% if contact %}
            <div class="container clearfix">
                <a target="_blank" href="{{ contact.facebook }}" class="social-icon si-small si-borderless si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a target="_blank" href="{{ contact.twitter }}" class="social-icon si-small si-borderless si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>

                <a target="_blank" href="{{ contact.googleplus }}" class="social-icon si-small si-borderless si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                </a>


                <a target="_blank" href="{{ contact.linkedin }}" class="social-icon si-small si-borderless si-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
            </div>

            <div class="clear"></div>
        {% endif %}
        <div class="container clearfix">

            <div class="col_half">
                <div class="copyright-links"> Copyrights &copy; 2017 All Rights Reserved by WAFA Inc. Powered by <a
                        href="http://madi-corp.net"> MADICORP</a></div>
            </div>
            {% if contact %}
                {% split contact.email ";" as emails %}
                <div class="col_half col_last tright">

                    <i class="icon-envelope2"></i> {{ emails |first  }} <span class="middot">&middot;</span>
                    <i class="icon-phone"></i> {{ contact.phone }} <span class="middot">&middot;</span>
                    <i class="icon-print"></i> {{ contact.fax }}
                </div>
            {% endif %}
        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->