{% load wafa_tags wagtailcore_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}

<nav id="primary-menu">

    <ul>
        <li {% if slug == 'home' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}">
                <div> {% trans "Home" %}</div>
            </a>
        </li>
        <li {% if slug == 'about' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/about">
                <div> {% trans "About Us" %}</div>
            </a>
        </li>
        <li {% if slug == 'members' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/members">
                <div>{% trans "Members" %}</div>
            </a>
        </li>
        <li {% if slug == 'market-news' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/market-news">
                <div>{% trans "Market News" %}</div>
            </a>
        </li>
        <li {% if slug == 'publications' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/publications">
                <div>{% trans "Publications" %}</div>
            </a>
        </li>
        <li {% if slug == 'activities' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/activities">
                <div>{% trans "Activities" %}</div>
            </a>
        </li>
        <li {% if slug == 'blog' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/blog">
                <div>{% trans "Blog" %}</div>
            </a>
        </li>
        <li {% if slug == 'contact' %}class="current"{% endif %}>
            <a href="/{{ LANGUAGE_CODE }}/contact">
                <div>{% trans "Contact" %}</div>
            </a>
        </li>
    </ul>
    <div id="flag" class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
                <li class="dropdown">
                    {% if lang_code !=  LANGUAGE_CODE %}
                        <a role="menuitem" tabindex="-1" href="{% change_lang lang_code %}">
                            {% if lang_code == "en" %}
                                <i class="flag-icon flag-icon-gb"></i>
                            {% else %}
                                <i class="flag-icon flag-icon-{{ lang_code }}"></i>
                            {% endif %}
                        </a>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    </div> <!--/.navbar-collapse -->
    <!-- Top Search
    ============================================= -->
    <div id="top-search">
        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
        <form name="search_form" class="search_form" method="get"
              action="/{{ LANGUAGE_CODE }}/publications/search/">
            <input type="search" name="q" placeholder="{% trans 'Search' %}">
        </form>
    </div><!-- #top-search end -->

</nav><!-- #primary-menu end -->
