{% load home_tags wafa_tags wagtailcore_tags i18n static wagtailimages_tags %}
<!-- Page Title
		============================================= -->
<section id="page-title" class="map">

    <div class="container clearfix">
        <h1>{{title}}</h1>
        <span>{{description}}</span>
        <ol class="breadcrumb">
            <li><a href="/{{ LANGUAGE_CODE }}">{% trans "Home" %}</a></li>
            <li class="active">{% trans title %}</li>
        </ol>
    </div>

</section><!-- #page-title end -->