{% extends "base.html" %}
{% load home_tags wafa_tags wagtailcore_tags i18n static wagtailimages_tags image %}
{% block body_class %}stretched{% endblock %}
{% block extra_css %}

{% endblock %}

{% block content %}
    {% header self.slug %}
    <div class="clear"></div>
    {% page_title "Photo gallery" "West African Fertilizer Professionals are united and commited!" %}
     <!-- Page Sub Menu
		============================================= -->
    {% page_menu "galleries" %}
    <!-- #page-menu end -->

    <section id="content">

        <div class="content-wrap nobottompadding">

            <div class="container clearfix">

                <!-- Portfolio Filter
                ============================================= -->
                {% include "photologue/includes/gallery_filter.html" %}
                <!-- #portfolio-filter end -->

                <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
                    <i class="icon-random"></i>
                </div>

            </div>

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio"
                 class="portfolio grid-container portfolio-nomargin portfolio-notitle portfolio-full clearfix">
                {% if latest %}
                    {% for gallery in latest %}
                        {% include "photologue/includes/gallery_sample.html" %}
                    {% endfor %}
                {% else %}
                    <p>{% trans "No galleries were found" %}.</p>
                {% endif %}

            </div><!-- #portfolio end -->

        </div>
    </section><!-- #content end -->
    {% footer %}
{% endblock %}

{% block extra_js %}
    <!-- Bootstrap Data Table Plugin -->


{% endblock %}